.custom-shape-divider-top-1653318248 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1653318248 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 194px;
}

.custom-shape-divider-top-1653318248 .shape-fill {
    fill: #FFFFFF;
}